{% extends 'auctions/layout.html' %}
{% load static %}

{% block title %}
    About Us
{% endblock %}

{% block body %}
<section id="page-header" class="about-header" style="background-image: url('{% static 'auctions/images/banner1.jpg' %}');">
    <h2>#KnowUs</h2>
    <p>Welcome to EEL - Your Premier Auction Destination</p>
</section>


<section id="about-head" class="section-p1">
    <div>
        <img src="{% static 'auctions/images/a6.jpg' %}" alt="">
    </div>
    <div>
        <h2>Who Are We?</h2>
        <p>we're passionate about bringing buyers and sellers together in an exciting and dynamic online auction platform. Our mission is to create a vibrant marketplace where you can discover unique treasures, sell your items, and engage in thrilling bidding wars—all from the comfort of your home. EEL hosts a wide range of auctions, from vintage collectibles and antiques to modern tech gadgets and art pieces. Whatever you're passionate about, you'll find it here. We've designed EEL to be intuitive and user-friendly, ensuring that both seasoned auction enthusiasts and newcomers can easily navigate and enjoy our platform.</p>
        <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam eaque non dolor suscipit deleniti in quia minus delectus a iure voluptatibus, quasi, voluptates, necessitatibus alias! Sed eaque molestias possimus modi tempore magnam qui doloremque! Officiis pariatur dolore repudiandae quibusdam commodi nesciunt, delectus optio quis quasi sapiente iste unde atque quo?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem maiores consectetur facilis incidunt dolorum nostrum dicta dignissimos quisquam molestiae assumenda.</p> -->
        <abbr title="">Create stunning images with as such or as little control as you like thanks to a choice of Basic and Creative modes.</abbr>
        <br><br>
        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Create stunning images with as such or as little control as you like thanks to a choice of Basic and Creative modes.</marquee>
    </div>
</section>


<section id="about-app" class="section-p1">
    <h1>Download Our <a href="#">App</a></h1>
    <div class="video">
        <video autoplay muted loop src="{% static 'auctions/images/1.mp4' %}"></video>
    </div>
</section>


<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="{% static 'auctions/images/f1.png' %}" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'auctions/images/f2.png' %}" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'auctions/images/f3.png' %}" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'auctions/images/f4.png' %}" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'auctions/images/f5.png' %}" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'auctions/images/f6.png' %}" alt="">
        <h6>24/7 Support</h6>
    </div>
</section>


<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>
{% endblock %}