{% extends "auctions/layout.html" %}

{% block body %}

    <div style="padding: 10px;">

        {% if message %}
        <p style="color: #842029; background-color: #f8d7da; border-color: #f5c2c7; padding: 1rem 1rem; margin: 0 80px; border-radius: 5px;">{{ message }}</p>
        {% endif %}

        <section id="form-details3">
            <h2 style="padding-bottom: 3rem;">Sign In</h2>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                <input class="form-control" type="password" name="password" placeholder="Password">
                <button type="submit" style="width: 100%; font-size: 16px" class="normal">Login</button>
            </form>
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </section>

    </div>

{% endblock %}